/* rems or percentages are adaptable to changes rather than pixels */
/* use relative path instead of absolute for bg image so when it's deployed, it can be found */

:root {
    --background-image: url(src/images/backgrounds/room5.jpg);
}

[data-theme='dark'] {
    --background-image: url(src/images/backgrounds/darkBG3.GIF);
}

.app {
    background-color: gray;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    width: 100%;
    position: relative;
    margin-top: 1.25rem; 
    padding-left: 1.4rem; 
    padding-right: 0.9375rem; 
    border: 0.1875rem black solid; 
    border-radius: 0.625rem; 
}

.app .screen {
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    border: 0.1875rem black solid; 
    border-radius: 0.625rem; 
    height: 80%;
    width: 90%;
    margin-top: 3.5625rem; 
}

.app .screen .dog {
    margin-top: 14.3rem; 
    margin-left: 28.125rem; 
    width: 11.25rem; 
    height: 11.25rem; 
}

.app .screen .dog:hover {
    cursor: grab;
}

.app .screen .dog:active { /* active is when you're clicking */
    cursor: grabbing;
}

.app .buttons {
    position: absolute;
    margin-left: 10rem;
    bottom: 0;
}

.app .buttons .feed {
    margin-right: 6.25rem; 
    width: 6.25rem; 
    height: 3.75rem; 
}

.app .buttons .feed:hover {
    transform: scale(1.1);   
}

.app .buttons .potty {
    margin-right: 6.25rem; 
    width: 6.25rem; 
    height: 3.4375rem; 
}

.app .buttons .potty:hover {
    transform: scale(1.1);   
}

.app .buttons .sleep {
    width: 6.25rem; 
    height: 3rem; 
    margin-bottom: 0.1875rem; 
}

.app .buttons .sleep:hover {
    transform: scale(1.1);   
}

.app .screen .bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.3125rem; 
    background-color: lightblue;
}

.app .screen .bars .happiness {
    display: flex;
    margin-left: 0.625rem; 
}

.app .screen .bars .happiness .smiley {
    width: 2.1875rem; 
    height: 1.875rem; 
    margin-top: 0.9375rem; 
    margin-right: 0.3125rem; 
}

.app .screen .bars .energy {
    display: flex;
    margin-left: -0.3125rem; 
}

.app .screen .bars .energy .sleep {
    width: 3.75rem; 
    height: 3.75rem; 
    margin-right: -0.1875rem; 
    margin-top: -0.1875rem; 
}

.app .screen .bars .hunger {
    display: flex;
}

.app .screen .bars .hunger .food {
    width: 3.125rem; 
    height: 3.125rem; 
    margin-top: 0.375rem; 
}

.app .screen .bars .bladder {
    display: flex;
}

.app .screen .bars .bladder .poo {
    width: 1.875rem; 
    height: 1.875rem; 
    margin-top: 0.9375rem; 
    margin-right: 0.4375rem; 
}
